body{

    background-image: url("https://i.pinimg.com/1200x/79/f7/35/79f735bdc978bb91c3459899cad1a99a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight:bold;
}

.hi{
    color: honeydew;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color:honeydew;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

.letra2 {
    color:honeydew;
}

.contenedor{
    position:absolute;
    text-align: center;
}

.contenedor img{
    display: inline-block;

}

.test {
    display:flex;
    margin-top: 30px;
}

.testdiv {
  flex: 1; /* Hace que ambos ocupen el mismo ancho */
  border: 1px solid black; /* Solo para propósitos de visualización */
}

.test2{
    display: flex ;
    margin-top: 30px;
 
}

.test2 div {
    flex: 1; /* Hace que ambos ocupen el mismo ancho */
  border: 1px solid black; /* Solo para propósitos de visualización */
}

.imagenes{
    flex: 0.5px;
    border: 1px solid black; /* Solo para propósitos de visualización */
}

.imagenes2{
    flex: 0.5px;
    border: 1px solid black; /* Solo para propósitos de visualización */
}


.imagenes3{
    flex: 1px;
    border: 1px solid black; /* Solo para propósitos de visualización */
}

.imagenes4{
    flex: 1px;
    border: 1px solid black; /* Solo para propósitos de visualización */
}

.testcenter{
   color: white;
   text-align: center;
}

.testdescription{
    color: white;
    margin-left: 30px;
    margin-right: 30px; 
    font-size: 25px;
}

nav ul li a.selected:hover {
    background-color: #007bff; /* Color de fondo cuando el cursor pasa sobre el elemento */
    color: #fff; /* Cambio de color del texto para mejorar la legibilidad */
    cursor: pointer; /* Cambio de cursor al pasar sobre el elemento */
  }
